
<h1 class="text-center text-black-50">Followers</h1>

<div class="row m-1" >
  <div class="col-sm-12 bg-white mb-2 p-3" *ngFor="let follow of followers" style="padding-right: 70px; padding-left: 70px;">
    <div class="d-flex">
      <div>
        <div>
          <b><i class="fa p-1 mr-3">&#xf007;&nbsp;</i>{{follow.follower.name}}</b>
        </div>
        <small>{{follow.follower.email}}</small>
      </div>
      <div class="ml-auto">
        <button class="btn btn-outline-primary btn-sm" (click)="viewProfile(follow.follower.userId)">View Profile</button>
      </div>
    </div>
    <hr>

  </div>
</div>
