<div class="container mt-5 pt-5">

  <div class="row">

    <div class="col-md-7 col-lg-7 mt-5 pt-5">
      <h1 style="color: #1782FD; font-size: 60px;" class="font1 font-weight-bolder"><i class="fa p-1">&#xf086;</i>thoughtsBook</h1><br>
      <p class="text-black-50 font-weight-bold" style="height: 50px; font-size: 30px;">
        ThoughtsBook helps you connect and share with people in your life.</p>

    </div>
    <div class="col-md-5 col-lg-5">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
